@import 'styles/variables.scss';

.form {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;

  &__input {
    padding: 1.5rem;
    background-color: $white-500;
    border: none;
    outline: none;
    font-size: 1rem;
    width: 65%;
  }
  
  &__button {
    padding: 1.5rem 1rem;
    background-color: $yellow-500;
    color: $white-500;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    outline: none;
    transition: 0.3s all;
    width: 35%;
  
    &:hover {
      cursor: pointer;
      filter: brightness(90%);
    }

    &:disabled {
      cursor: no-drop;
      filter: brightness(60%);
    }
}

}